/* Empty. Add your own CSS if you like */

.head-bar {
	background-color: #cc3363 !important;
}

.button-dark-pink {
	background-color: #cc3363 !important;
}

.bar-dark-pink {
	background-color: #cc3363 !important;
	color: #ffffff !important;
}

.button-dark-pink > i {
	color: #ffffff;
}

.ion-chevron-left {
	color: #fff;
}

#main_back_img {
	background-image: url('../img/bg/back_img1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#post_back_img {
	background-image: url('../img/bg/back_img4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
